*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.btn {
    margin-right: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.log {
    display: flex;
    flex-direction: row;
}
.navigation{
    width: 100vw;
    height: 40px;
    background-color: #8c5f7c;
}

ul{
display: flex;
flex-direction: row;


}
.nav li{
    margin: 10px 20px;
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color: white;
}

.nav-item a:hover, .nav-item a.active, .btn:hover{

    color: #bdb8b8;
}

.log button.active{
    color: #bdb8b8;   
}